
.reg__input-group{
    font-family: 'Nunito', sans-serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.reg_title {
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
}
.reg_title span{
    color: #EB1D36;
}
.reg__input{
    width: 100%;
    margin-top: 30px;
    height: 70px;
}
.reg__input span{
    margin-top: 0;
    pointer-events: none;
    display: inline-block;
    transition: all .2s;
}
.reg__input:focus-within .empty{
    transform: translate(8px, 0);
    font-size: 14px;
}
.full{
    transform: translate(8px, 0);
    font-size: 14px;
}
.empty{
    transform: translate(8px, 30px);
    margin-top: 6px;
    font-size: 19px;
}
.reg__input input{
    margin-bottom: 2px;
    font-size: 19px;
    border-width:0 0 1px 0;
    padding: 9px 0 9px 9px;
    width: 100%;
    transition: border-width .15s linear;
}
.reg__input input:focus .isExist{
    border-width:0 0 2px 0;
    border-color: rgba(255, 0, 0, 0.6);
    background-color: rgba(249, 3, 3, 0.134);
}
.reg__input input:focus .notExist{
    border-width:0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.6);
}
.isExist{
    border-width:0 0 1px 0;
    border-color: rgba(255, 0, 0, 0.6);
    background-color: rgba(249, 3, 3, 0.134);
}
.notExist{
    border-width:0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.6);
}
.reg__input input:focus{
    margin-bottom: 0;
    border-width:0 0 2px 0;
    outline: none;
}
.reg__input-group .button button{
    margin: 15px auto;
}
.position{
    position: relative;
}
.alreadyExists{
    margin: 3px 0 10px auto;
    font-size: 12px;
    color: #EB1D36;
    position: absolute;
    right: 0;
    bottom: -25px;
    z-index: 3;
}


.disable{
    pointer-events: none;
}
.reg__footer{
    margin-top: 10px;
    text-align: center;
}
.reg__footer a{
    cursor: pointer;
    color: #FA9494;
    text-decoration: none;
}


@media screen and (max-width: 380px){
    .reg_title{
        font-size: 22px;
    }
    .reg__input-group{
        width: 90%;
        margin: 0 auto;
    }
    .reg__input span{
        font-size: 16px;
    }
    .reg__input{
        margin: 20px 0;
    }
    .reg__input:focus-within  span{
        font-size: 10px;
    }
}
@media(max-width: 602px) and (min-width: 381px){
    .reg_title{
        font-size: 25px;
    }
    .reg__input-group{
        width: 90%;
        margin: 0 auto;
    }
}