.accmodal{
    font-family: 'Nunito', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    transition: all .3s;
    overflow: scroll;
}

.accmodal-content{
    z-index: 11;
    pointer-events: all;
    position: inherit;
    top: 85px;
    align-items: center;
    width: 330px;
    padding: 20px;
    background-color: #fff;

    transition: all .3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.nn-active{
    transform: translate(0, -60vh);
}
.accmodal-content .a-active{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    transform: translate(0, 60vh);
}

.isAcc{
    right: 120px;
}
.orderis{
    right: 80px;
}


@media(max-width: 580px){
    .modal-content{
        width: 84%;
    }
}