.corf{
    width: 25%;
    font-family: 'Nunito', sans-serif;
}

.korzina{
    top: 90px;
    position: sticky;
    margin: 0 auto;
    padding: 10px;
    width: 86%;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #00000027;
    border-radius: 10px;
    transition: all .95s linear;
}

.corf_header{
    text-align: center;
    font-size: 20px;
}

.corf_empty{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px;
    transition: all .25s linear;
}
.corf_empty img{
    margin: 0 auto;
    margin-bottom: 10px;
}
.corf_empty p{
    color: rgba(0, 0, 0, 0.543);
    width: 75%;
    margin: 0 auto;
}

.corf_full{
    transition: all .15s linear;
}
.corf_f{
    max-height: 250px;
    overflow: scroll;
}


.corf_food{
    display: grid;
    grid-template-columns: .9fr 5fr 1.4fr;
    padding: 6px;
    transition: all .55s linear;

}
.corf_food span{
    color: rgba(0, 0, 0, 0.6);
}
.corf_food
.food_name{
    font-size: 17px;
    padding-right: 5px;
}
.change_corf{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: space-between;
    font-size: 18px;
}
.corf_delete, .corf_add{
    cursor: pointer;
    margin-top: -6px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(53, 52, 52, 0.127);
}
.corf_order_button{
    margin: 30px 0 20px 0;
    display: flex;
    align-items: center;
}
.order_button{
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #f9a0a037;
    
}
