.sidebar{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    width: 200px;
    align-self: flex-start
}
.sidebar div{
    width: 80%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px auto;
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
}
.sidebar div:active{
    cursor: grabbing;
}